<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey</title>
</head>
<body>
    <h1>Question {{ current_index + 1 }}</h1>
    <form method="POST", action = "/">
        <div class="question">
            {{ question.question }}
        </div>
        <ul class="options">
            {% for answer in question.answers %}
            <li>
                <label>
                    <input type="radio" name="user_answer" value="{{ answer }}">
                    {{ answer["text"] }}
                </label>
            </li>
            {% endfor %}
        </ul>
        <input type="hidden" name="current_question" value="{{ current_index }}">
        <br>
        <input type="submit" value="Next">
    </form>
</body>
</html>
